<h2 class="h3 mb-3">Facultad</h2>
<h3 class="h4 mb-3">Nivel 1</h3>
<div class="row row-cols-2-sm">
    <div class="col-sm">
        <div class="card mb-3">
            <div class="card-header">
                Arquitectura de Computadoras
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Material</li>
                <li class="list-group-item">Class Log</li>
                <li class="list-group-item">Apuntes Teoría</li>
            </ul>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Lógica y Estructuras Discretas
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Material</li>
                <li class="list-group-item">Class Log</li>
                <li class="list-group-item">Apuntes Teoría</li>
                <li class="list-group-item">Apuntes Práctica</li>
            </ul>
        </div>
    </div>
    <div class="col-sm">
        <div class="card mb-3">
            <div class="card-header">
                Lógica y Estructuras Discretas
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Material</li>
                <li class="list-group-item">Class Log</li>
                <li class="list-group-item">Apuntes Teoría</li>
                <li class="list-group-item">Apuntes Práctica</li>
            </ul>
        </div>
    </div>
</div>
