<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#leftone" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="leftone" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Virgin Scratchpad</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row gx-2 gy-2">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body px-2 py-2">
                                <p class="card-text">Software</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-2 py-1">An item</li>
                                <li class="list-group-item px-2 py-1">A second item</li>
                                <li class="list-group-item px-2 py-1">A third item</li>
                            </ul>
                        </div>
                        <div class="card my-2">
                            <div class="card-body px-2 py-2">
                                <p class="card-text">Electrónica</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-2 py-1">An item</li>
                                <li class="list-group-item px-2 py-1">A second item</li>
                                <li class="list-group-item px-2 py-1">A third item</li>
                            </ul>
                        </div>
                        <div class="card my-2">
                            <div class="card-body px-2 py-2">
                                <p class="card-text">Matemática</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-2 py-1">An item</li>
                                <li class="list-group-item px-2 py-1">A second item</li>
                                <li class="list-group-item px-2 py-1">A third item</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Electrónica</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                                <li class="list-group-item">A fourth item</li>
                            </ul>
                        </div>
                        <div class="card my-2">
                            <div class="card-body">
                                <p class="card-text">Filosofía</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <a class="navbar-brand me-0" href="#">
            <img src="/logo.png" alt="Logo" width="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">nav-page</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {{ .TableOfContents }}                
            </div>
        </div>
    </div>
</nav>
